body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height:  100%;
  margin: 0;
  padding: 0;
}

.full-div{
  width: 100%;
  height: 100px;
  background-color: gainsboro;
}

a {
  color: #00B7FF;
}
